<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container">

    <h1 th:text="${title}">Default Title</h1>

    <form method="post" style="max-width:600px;" th:object="${form}" th:action="@{/mealplan/add-recipe}">

        <div class="form-group">
            <label th:for="recipeId">Recipe</label>
            <select name="recipeId">
                <option th:each="recipe : *{recipes}"
                        th:text="${recipe.title}"
                        th:value="${recipe.id}"></option>
            </select>
            <span th:errors="*{recipes}" class="error"></span>
        </div>

        <input type="hidden" name="mealplanId" th:value="*{mealplan.id}" />

        <input class="btn btn-primary" type="submit" value="Add" />
    </form>
</div>
</body>
</html>