<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container">

    <h1 th:text="${title}">Default Title</h1>

    <form method="post" style="max-width:600px;" th:object="${mealplan}">
        <div class="form-row">
            <div class="form-group">
                <label th:for="name">Title</label>
                <input class="form-control" th:field="*{name}" />
                <span th:errors="*{name}" class="error"></span>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Add" />
    </form>
</div>
</body>
</html>