<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container">

    <h1 th:text="${title}">Default Title</h1>

    <p th:unless="${recipes} and ${recipes.size()}">no recipes added yet :(</p>

    <ul>
        <li th:each="recipe : ${recipes}">
            <span th:text="${recipe.title}"></span>
            <!--<span th:text="${recipeIngredient.ingredient.name}"></span>-->
            <!--TODO: Add Ingredient Count for each recipe-->
        </li>
    </ul>

    <p><a th:href="'/mealplan/add-recipe/' + ${mealplanId}">Add Recipe</a></p>
    <p><a th:href="'/mealplan/remove-recipe/' + ${mealplanId}">Remove Recipe</a></p>
    <p><a th:href="'/mealplan/view/' + ${mealplanId} + '/grocery-list'">View Grocery List</a></p>


    <!--TODO: Add  TOTAL Ingredient Count for ALL recipes-->
    <!--TODO: Add  TOTAL Recipe Count-->
    <!--TODO: Add view GroceryList-->

</div>

</body>
</html>