<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container">

    <h1 th:text="${title}">Default Title</h1>

    <nav class="nav">
        <a class="nav-link" href="/recipes/add">Add</a>
        <a class="nav-link" href="/recipes/remove">Remove</a>
    </nav>

    <p th:unless="${recipes} and ${recipes.size()}">There are currently no recipes...</p>

    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between" th:each="recipe : ${recipes}">
            <span>
                <a th:href="@{/recipes/} + ${recipe.id}" th:text="${recipe.title}"></a>
                <!--<span class="badge badge-secondary text-wrap" th:text="${recipe.tag.name}"></span>-->
            </span>

            <a class="btn btn-sm btn-outline-primary" th:href="@{/recipes/edit/} + ${recipe.id}">Edit</a>
        </li>
    </ul>

</div>

</body>
</html>