<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container">

    <h1 th:text="${title}">Default Title</h1>

    <nav class="nav">
        <a class="nav-link" href="/recipes/add">Add</a>
        <a class="nav-link" href="/recipes/remove">Remove</a>
    </nav>

    <p th:unless="${recipes} and ${recipes.size()}">There are currently no recipes...</p>

    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between" th:each="recipe : ${recipes}">
            <span>
                <span th:text="${recipe.title}"></span>
                <!--<span class="badge badge-secondary text-wrap" th:text="${recipe.tag.name}"></span>-->
            </span>

            <span>
                <a class="btn btn-sm btn-outline-primary" th:href="@{/recipes/view/} + ${recipe.id}">View</a>
                <a class="btn btn-sm btn-outline-primary" th:href="@{/recipes/edit/} + ${recipe.id}">Edit Title</a>
            </span>
        </li>
    </ul>

</div>

</body>
</html>