<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container">

    <h1 th:text="${title}">Default Title</h1>

    <nav class="nav">
        <a class="nav-link" href="/ingredients/add">Add</a>
        <a class="nav-link" href="/ingredients/remove">Remove</a>
    </nav>

    <p th:unless="${ingredients} and ${ingredients.size()}">There are currently no ingredients...</p>

    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between" th:each="ingredient : ${ingredients}">
            <span>
                <span th:text="${ingredient.name}"></span>
                <span class="badge badge-secondary text-wrap" th:text="${ingredient.category.name}"></span>
            </span>

            <a class="btn btn-sm btn-outline-primary" th:href="@{/ingredients/edit/} + ${ingredient.id}">Edit</a>
        </li>
    </ul>

</div>

</body>
</html>